* {
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: white;
  padding-top: 2rem;
}

input {
  display: block;
  margin: .6rem 0;
  padding: .6rem;
  font-family: "Roboto Mono", monospace;
}

button {
  display: block;
  padding: .6rem;
}

li {
  margin: .5rem 0;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lobby {
  text-align: left;
  margin: .5rem auto;
}

.controls {
  margin-top: 1rem;
}

.activable {
  cursor: pointer;
  border-bottom: 0.1rem dashed;
}

.playcell {
  cursor: pointer;
}

table, tr, td {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  min-height: 4rem;
  min-width: 4rem;
  padding: .4rem;
}

td:first-child {
  border-right: .15rem dashed;
}

td:last-child {
  border-left: .15rem dashed;
}

tr:first-child {
  border-bottom: .15rem dashed;
}

tr:last-child {
  border-top: .15rem dashed;
}
